.botao{
   
    width: 167px;
    height: 80px;
    left: 255px;
    top: 1313px;
    
    background: #E8DCCB;
    mix-blend-mode: normal;
    border-radius: 10px;
    border: none;

    margin-top: 32px;
    
    font-size: 20px;
    font-weight: bold;
    color: #FF7B53;
}


.botao:hover{
    color:  #3c3a37;
    
}