header{
    background-color:#E8DCCB ;
    padding: 10px 10px 10px 40px;
}
.cabecalho-logo img{
    height: 100px;
}

@media screen and (max-width: 780px){
    header{
        text-align: center;
    }
    .cabecalho-logo img{
        
    }
}
