.faixaDescricao{
    background-color: #E8DCCB;
    padding: 50px 50px;
    box-sizing: border-box;
    
}

.faixaDescricao h2{
    color: #FF7B53;
    font-size: 32px;
}

.faixaDescricao p{
    text-align: left;
    font-size: 25px;
    color: #612412;
    font-weight: 500;
}

@media screen and (max-width: 780px){
    .faixaDescricao{
       text-align: center;
       padding: 20px;
    }

    .faixaDescricao h2{
        text-align: center;
        font-size: 25px;
    }

    .faixaDescricao p{
        font-size: 18px;
    }
}